* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    width: 1296px;
    margin: 0 auto;
    padding: 26px 0;
}

.container__header {
    width: 1920px;
    margin: 0;
    background-color: #DCE0E9;
}

.header__container1 {
    display: flex;
    align-items: center;
    margin-right: 50px;
}


.header__menu {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 16px;
    font-weight: 400;
    padding: 28px 0;
}

.header__link {
    text-decoration: none;
    color: #040062;
    font-size: 16px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
}

.header__button{
    display: flex;
    margin-left: auto;
    align-items: center;
}

.header__btn{
    gap: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: #0013ff;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
}   